[submodule "debian-common"]
  path = playbooks/roles/debian-common
  url = git@github.com:agpelliza/debian-common.git

[submodule "docker-debian"]
  path = playbooks/roles/docker-debian
  url = git@github.com:agpelliza/docker-debian.git